html {
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  display: flex;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #303d4e;
  font-size: 1.6rem;
  min-height: 100dvh;
}

$gray--900: #25262b;
$gray--700: #515155;
$gray--400: #c0c0c0;
$light: #fff;
$dark: #000;
$accent-blue: #66a8f8;
$accent-blue--dark: #4f8eda;
$accent-green: #82cf68;

.movie-card {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 76rem;
  width: 100%;
  background-color: $gray--900;
  border-radius: 0.4rem;
  margin: auto;
  padding: 2rem;
  color: $light;
  box-shadow: 0.1rem 0.3rem 1.4rem 0.3rem rgba($dark, 0.3);

  &__header {
    display: grid;
    grid-template-columns: fit-content(40rem) 1fr min-content;
    gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $gray--700;

    & > * {
      overflow-wrap: anywhere;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    grid-column: 1 / 2;
  }

  &__badges {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @media (width <= 576px) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }

  &__badge {
    font-size: 1.2rem;
    padding: 0.6rem;
    background-color: $gray--700;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0.4rem;
    white-space: nowrap;
  }

  &__subtitle {
    color: $gray--400;
    grid-column: 1 / -1;
  }

  &__date {
    font-size: 1.8rem;
    grid-column: 1 / -1;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1.8rem;
    border-top: 0.1rem solid $gray--700;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
    color: $gray--400;
  }

  &__price {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $accent-blue;
      flex-shrink: 0;
    }

    &--vip {
      &::before {
        background-color: $accent-green;
      }
    }
  }

  &__btn {
    font-size: 1.4rem;
    border: none;
    text-transform: uppercase;
    background-color: $accent-blue;
    color: $light;
    padding: 1.2rem;
    min-width: 15rem;
    border-radius: 0.4rem;
    transition: background-color 200ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: $accent-blue--dark;
      }
    }
  }
}

.close-btn {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  grid-column: -2;
  width: 4.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 0.2rem solid $gray--700;
  transition: border-color 200ms ease;

  span {
    border-radius: 0.2rem;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: $gray--700;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: background-color 200ms ease;

    &:nth-child(1) {
      rotate: 45deg;
    }

    &:nth-child(2) {
      rotate: -45deg;
    }
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      border-color: $light;

      span {
        background-color: $light;
      }
    }
  }
}

.cinema {
  display: grid;
  padding-top: 4rem;
  padding-bottom: 6rem;
  overflow-x: auto;

  @media (width <= 576px) {
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-inline: -2rem;
  }

  &__wrapper {
    perspective: 10rem;
  }

  &__screen {
    margin-inline: 6rem;
    aspect-ratio: 6;
    box-shadow: 0 0.5rem 1.3rem 0 rgba($light, 0.3);
    transform: rotateX(-3deg);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: start;
    margin-inline: 3rem;
    padding-top: 3rem;
    gap: 2rem;
    counter-reset: row 0;
    transform: rotateX(6deg);

    @media (width <= 576px) {
      padding-bottom: 3rem;
      margin-inline: 2rem;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    place-items: center;
    counter-increment: row 1;
    counter-reset: seat 0;

    &::before,
    &::after {
      content: counter(row);
      grid-row: 1;
      color: $gray--400;
    }

    &::before {
      grid-column: 1;
    }

    &::after {
      grid-column: -2;
    }
  }
}

.seat {
  --default-accent-color: #{$accent-blue};
  appearance: none;
  margin: 0;
  counter-increment: seat 1;

  &::before {
    content: counter(seat);
    display: grid;
    place-items: center;
    color: var(--seat-color, transparent);
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--seat-background, var(--default-accent-color));
    outline-style: solid;
    outline-width: 0.2rem;
    outline-offset: 0.3rem;
    outline-color: var(--seat-outline, transparent);
    transition-property: background-color, color, outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
  }

  @media (hover: hover) {
    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        --seat-color: #{$light};
        --seat-outline: var(--seat-background, var(--default-accent-color));
      }
    }
  }

  &:disabled {
    --seat-background: #{$gray--700};
    opacity: 0.3;
  }

  &:checked {
    --seat-background: #{$gray--700};
    --seat-color: #{$light};
    --seat-outline: var(--seat-background);
  }

  &--vip {
    --seat-background: #{$accent-green};
  }
}
